.newspaper {
    column-count: 3;
}
.coled {
    column-count: 2;
}

.login  {
    background-color: #0057fc;
    color: white;   
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
